@font-face {
    font-family: 'Figtree', sans-serif;
    src: url("../assets/fonts/Figtree/static/Figtree-Light.ttf");
}

html{
    height: 100%;
}

body{
    margin : 0;
    padding : 0;
    background-color: #eaead7;
    color: #2d2c24;
    font-family: 'Figtree', sans-serif;
}

header{
    background: rgb(131,58,180);
    background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: #eaead7;
    /* color: #2A2A16#A58F36; */
    padding: 0.25em 2em;
}



#burger-menu{
    display: block;
    margin: 1%;
    padding: 1%;
    position: absolute;
    right: 2vw;
    text-align: right;
    width: 15vw;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    opacity: 0;
    clear: both;
    margin: 0;
}

input[type="checkbox"]{
    display:none;
}

#nav-icon1 span{
    display: block;
    margin: 4px;
    height: 10px;
    width: 50px;
    background: #eaead7;
    border-radius: 10px;
}

#toggle:checked ~ #nav-icon1 span:nth-child(1){
    transform: rotate(135deg) translate(21px,-13px);
}
#toggle:checked ~ #nav-icon1 span:nth-child(2){
    opacity: 0;
    left: -60px;
}
#toggle:checked ~ #nav-icon1 span:nth-child(3){
    transform: rotate(-135deg) translate(5px);
}

#nav-icon1 span{  
    cursor:pointer; 
    transition: .25s ease-in-out;
    position:relative;
    left:0px;
}

.grid-even-columns{
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 60% 1fr;
}


a{
    text-decoration: none;
}

nav ul{
    padding : 0;
    /* max-height: 0; */
    /* overflow: hidden; */
    /* transition : max-height 0.5s linear; */
}

nav li{
    list-style: none;
}

.circle{
    width: 15em;
    height: 15em;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    margin: 2%;
    /* border: 5px solid #; */
}


.text-container{
    width: 80%;
    margin: 1%;
    padding: 1%;
}

h3{
    color: #8B782D;
}

#menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s linear;
}


#toggle:checked + label + div#menu{
    max-height: 256px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(252,176,69);
    background: linear-gradient(0deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 15%, rgba(131,58,180,1) 70%);
    color: #2A2A16/*#A58F36*/;
}

#foot-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.grid-col-span-1{
    color: #eaead7;
    text-align: center;
    column-span: 1;
}

.grid-col-span-1 a{
    color: #eaead7;
}

#in-icon{
    padding: 0.25em;
    vertical-align:text-bottom;
}

#gh-icon{
    height: auto;
    width: 5%;
    padding: 0.25em;
    vertical-align:text-bottom;
}